html{
    height: 100%;
}
body{
    height: 100%;
}
h2{
    color: #ffe10f;
    font-family: 'Montserrat', sans-serif;
}
.question{
    color: #ffb700;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.question:visited{
    color: #c77e00;
}
.question:hover{
    color:orange;
    text-decoration: none;
    font-weight: bold;
}